.movies-autocomplete {
  /* suggestions + size of input */
  height: calc(30vh + 60px);
}

.movies-autocomplete ul {
  max-height: 30vh;
  overflow-y: auto;
}

.movies-autocomplete li {
  background: rgba(255, 255, 255, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.movies-autocomplete li:hover {
  background: rgba(255, 255, 255, 0.25);
}